<!DOCTYPE html>
<html>
<head>
	<title>Đăng ký</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="img/png" href="https://www.kindpng.com/picc/m/79-790695_landscape-icon-transparent-background-trees-icon-hd-png.png">
	<link rel="stylesheet" type="text/css" href="./Views/index.css">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>	
	<link href="/open-iconic/font/css/open-iconic.css" rel="stylesheet">
</head>
<body>
	<div class="wrapper">
		<div class="login-container">
			<div class="login-wrapper p-l-55 p-r-55 p-t-55 p-b-54">
				<form class="login-form" action="logout" method="POST">
					<span class="login-form-title p-b-49">Đăng ký</span>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập tài khoản">
						<span class="login-label">Tài khoản</span>
						<i class="fa fa-user"></i></span>
						<input class="login-input" type="text" name="username" placeholder="Nhập tài khoản của bạn" required></input>

						<span class="focus-input">
					</div>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập mật khẩu">
						<span class="login-label">Mật khẩu</span>
						<i class="fa fa-lock"></i></span>
						<input class="login-input" type="password" name="password" placeholder="Nhập mật khẩu của bạn" required>
						<span class="focus-input"></span>
					</div>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập mật khẩu">
						<span class="login-label">Tên của bạn</span>
						<i class="fa fa-lock"></i></span>
						<input class="login-input" type="text" name="name" placeholder="Nhập tên của bạn" required></span>
						<span class="focus-input"></span>
					</div>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập mật khẩu">
						<span class="login-label">Ngày sinh</span>
						<i class="fa fa-lock"></i></span>
						<input class="login-input" type="date" name="bdate" placeholder="Nhập ngày sinh của bạn" required style="width: 100%;"></span>
						<span class="focus-input"></span>
					</div>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập mật khẩu">
						<span class="login-label">Giới tính</span>
						<i class="fa fa-lock"></i></span>
						<input class="login-input" type="text" name="sex" placeholder="chọn giới tính của bạn" required></span>
						<span class="focus-input"></span>
					</div>
					<div class="form-input validate-input m-b-23" data-validate="Xin mời nhập mật khẩu">
						<span class="login-label">Email</span>
						<i class="fa fa-lock"></i></span>
						<input class="login-input" type="text" name="email" placeholder="Nhập email của bạn" required></span>
						<span class="focus-input"></span>
					</div>					
					<div class="login-form-btn-container">
						<div class="login-form-btn-wrapper">
							<div class="login-form-btn"></div>
							<button class="login-button">Đăng nhập</button>
						</div>
					</div>
					<div class="register-text text-center p-t-54 p-b-20">
						
					</div>					
				</form>
			</div>
		</div>
	</div>
</body>
</html>